.adminArea{
    display: flex;
    margin-top: 50px;
}
.leftArea{
    
    margin-left: 40px;
    width: 25%;
    height: 700px;

}
.leftArea img{
    width: 70%;
}
.rightArea{
    width: 75%;
    height: 100%;
    
}
.addList{
    display: flex;
    margin-top: 5px;
    
}
.addList img{ 
    width: 25px;  
    height: 25px;
}
.addList small{
    
    margin-left: 5px;
    font-size: 20px;
}
.listArea{
    margin-right: 10px;
    background-color: rgba(231, 231, 231, 0.568);
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
   
}
.addEvent{
    width: 100%;
   
}
